*.py[cod]
MANIFEST
build/
*.egg-info/
dist/
po/*.mo
.cache/
.pc/
.pybuild/
.tox/
.DS_Store
rednotebook.egg-info
debian/rednotebook/
debian/debhelper-build-stamp
debian/files
debian/rednotebook.postinst.debhelper
debian/rednotebook.prerm.debhelper
debian/rednotebook.substvars
test-translations/
